<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title><%= title %></title>
</head>

<body class="flex bg-slate-100">
  <%- include('./navbar') -%>

  <div class="px-5 pt-10 md:pt-0 md:pr-[50px] lg:pr-[100px] xl:pr-[150px] md:pl-[250px] lg:pl-[450px] xl:pl-[550px] w-full mx-auto">