<div class="fixed px-4 top-0 left-0 flex justify-between bg-gray-300 w-full md:hidden lg:hidden xl:hidden">
    <p class="py-4 text-xl font-medium text-lime-600">HELLo</p>
    <div class="flex items-center">
        <button class="p-[10px] text-3xl font-medium hover:bg-slate-200 rounded-lg active:rotate-180 active:scale-50 duration-200" onclick="openMenu()">
            <svg xmlns="http://www.w3.org/2000/svg" height="30" width="26" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
        </button>
    </div>
</div>

<div class="block fixed top-0 left-0 -translate-x-full md:translate-x-0 h-screen xl:w-[400px] lg:w-[350px] md:w-[200px] w-[calc(100%-75px)] bg-slate-300 duration-200" id="menu" data-open="false">

</div>

<script>
    function openMenu() {
        if(document.querySelector("#menu").getAttribute('data-open') == "false"){
            document.querySelector("#menu").style.transform = 'translateX(0)'
            document.querySelector("#menu").setAttribute('data-open', 'true')
        } else {
            document.querySelector("#menu").style.transform = 'translateX(-100%)'
            document.querySelector("#menu").setAttribute('data-open', 'false')
        }
    }
</script>