<div class="bg-slate-200 w-full rounded-xl my-4">
    <div class="flex items-center gap-x-4 border-b p-3 border-slate-300">
        <img
            src="https://static.vecteezy.com/system/resources/previews/019/879/186/original/user-icon-on-transparent-background-free-png.png"
            alt="User"
            class="w-10 h-10 rounded-full object-cover"
        >
        <div class="flex flex-col items-center">
            <p class="text-xl font-medium"><%= user.fullname %></p>
        </div>
    </div>

    <div class="leading-8 p-2">
        <p class="text-sm font-medium"><%= new Date() %></p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis dicta nihil voluptas repellendus dignissimos harum provident, qui earum! Delectus tenetur iste eligendi obcaecati incidunt quisquam minus aspernatur nihil ratione recusandae! <span class="font-medium">...see more</span>
    </div>

    <div class="px-4 pt-4">
        <img
            src="https://picsum.photos/1200"
            alt="Random"
            class="w-full h-full rounded-xl hover:grayscale-[100] transition duration-100"
        >
    </div>

    <div class="flex justify-between items-center mt-2 px-4 py-2 border-t border-slate-300">
        <p class="text-xl text-center font-medium w-full py-3 rounded-xl hover:bg-slate-300 active:scale-95 duration-150">LIKE</p>
        <p class="text-xl text-center font-medium w-full py-3 rounded-xl hover:bg-slate-300 active:scale-95 duration-150">LIKE</p>
        <p class="text-xl text-center font-medium w-full py-3 rounded-xl hover:bg-slate-300 active:scale-95 duration-150">LIKE</p>
    </div>
</div>