<%- include('components/header'); -%>

  <div class="bg-slate-200 px-3 py-4 w-full rounded-lg mt-10">
    <p class="text-lg md:text-xl lg:text-2xl font-medium">Welcome <span class="text-cyan-800"><%= "H" %></span>!</p>
    <button class="w-full block text-left text-base md:text-lg lg:text-xl font-medium text-gray-800 bg-slate-50 px-3 py-3 lg:py-4 mt-5 rounded-lg hover:bg-slate-300" onclick="postCreator()">Create a post</button>
    <div class="flex gap-x-5 w-full items-center">
      <p class="w-full text-base md:text-lg lg:text-xl font-medium text-gray-800 bg-slate-50 px-3 py-2 mt-2 md:mt-3 lg:mt-5 rounded-lg duration-150 hover:bg-gray-300 active:scale-95 text-center">Image</p>
      <p class="w-full text-base md:text-lg lg:text-xl font-medium text-gray-800 bg-slate-50 px-3 py-2 mt-2 md:mt-3 lg:mt-5 rounded-lg duration-150 hover:bg-gray-300 active:scale-95 text-center">Video</p>
      <p class="w-full text-base md:text-lg lg:text-xl font-medium text-gray-800 bg-slate-50 px-3 py-2 mt-2 md:mt-3 lg:mt-5 rounded-lg duration-150 hover:bg-gray-300 active:scale-95 text-center">Poll</p>
    </div>
  </div>

  <section class="mt-4 my-2">
    <% posts.forEach(function(post){ %>
      <%- include('components/post', {post: post}); %>
    <% }); %>
  </section>

  <div class="hidden fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[700px] h-[800px] max-w-[96%] max-h-[60vh] bg-slate-100 shadow-xl rounded-xl" id="comment-form-div">
            
    <span class="fixed top-0 left-1/2 -translate-x-1/2 -translate-y-1/2 text-4xl rounded-full duration-200 hover:ring-1 ring-red-500 z-[100]" onClick="destroyCommenter()">&times;</span>

    <form id="comment-form" class="my-4 w-full relative px-2">
    <textarea
        type="text"
        name="comment"
        id="comment"
        placeholder="Write a comment.."
        class="w-full py-3 pl-2 pr-6 rounded-md bg-white "
    >${id}</textarea>

    <span class="absolute top-1/2 right-4 -translate-y-1/2 bg-cyan-700 hover:bg-cyan-800 hover:shadow-lg cursor-pointer text-white px-3 py-2 rounded-full">
        S
    </span>
    </form>

  </div>

<%- include('components/footer') -%>